*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Chivo", sans-serif;
}

:root {
  --hue-neutral: 0;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #070707;
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: #1f1f2d;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 3px 3px 10px #725dff;
  color: white;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 3px solid #4068b3;
  background-color: #725dff;
  border-radius: 5px;
  padding: 5px 100px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
  color: yellow;
}

/* .btn.correct {
  border-color: black;
  color: yellow;
} */

/* .btn.wrong {
  --hue: var(--hue-wrong);
} */

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.render {
  color: yellow;
}
